[2015-04-09 03:57] idokleinman opened #1 "Setup: rarely setting the public key in keychain fails"
_From @idokleinman on March 30, 2015 18:0_

when that happens it will happen continuously in each retry when connecting to device, until app is restarted.
very hard to reproduce

_Copied from original issue: spark/mobile-sdk-ios#69_

[2015-04-09 03:57] idokleinman opened #2 "double check WEP works"
_From @towynlin on March 24, 2015 17:27_

_Copied from original issue: spark/mobile-sdk-ios#68_

[2015-04-09 03:57] idokleinman commented on #2
well, it doesn't  (at least on pigtails, tried 64bit WEP)

[2015-04-09 17:32] idokleinman opened #3 "Setup: add a webview with nice HTML bullet list instead of a Label in scrollview for "Ready screen""
_From @idokleinman on March 20, 2015 1:41_

_Copied from original issue: spark/mobile-sdk-ios#65_

[2015-04-09 17:47] idokleinman opened #4 "Setup: rarely setting the public key in keychain fails"
_From @idokleinman on March 30, 2015 18:0_

when that happens it will happen continuously in each retry when connecting to device, until app is restarted.
very hard to reproduce

_Copied from original issue: spark/mobile-sdk-ios#69_

[2015-04-09 17:47] idokleinman commented on #4
This issue was moved to spark/spark-setup-ios#1

[2015-04-09 17:48] #4 closed

[2015-04-09 17:48] idokleinman commented on #4
duplicate

[2015-04-09 17:49] idokleinman opened #5 "Org vs non-org API endpoints"
_From @towynlin on February 24, 2015 22:9_

Three endpoints are the same regardless of whether the app is for an organization.

- Login: `POST /oauth/token`
- Create claim code: `POST /v1/device_claims` _(as of Feb 24, need to fix in app & API)_
- List devices: `GET /v1/devices`

However, one API endpoint will be different between a generic Spark user context and in the context of an organization.

[2015-04-09 17:49] idokleinman commented on #5
- User login endpoint
- Claim code endpoint
- Reset password endpoint

[2015-04-09 17:49] idokleinman opened #6 "Setup: Mocks (device)"
_From @idokleinman on January 14, 2015 2:50_

Photon network responses mock
build a node.js TCP socket server that responds to all soft AP protocol commands successfully.
https://github.com/spark/photon-wiced/blob/master/soft-ap.md
Modify SparkSetupManager so it can run on local wifi (not device SSID prefix) - app will be able to run on simulator now
build test suite (low priority)
This will also

[2015-04-09 17:49] idokleinman commented on #6
_From @emilyrose on January 14, 2015 18:5_

great idea!

[2015-04-09 17:50] idokleinman opened #7 "Org vs non-org API endpoints"
_From @towynlin on February 24, 2015 22:9_

Three endpoints are the same regardless of whether the app is for an organization.

- Login: `POST /oauth/token`
- Create claim code: `POST /v1/device_claims` _(as of Feb 24, need to fix in app & API)_
- List devices: `GET /v1/devices`

However, one API endpoint will be different between a generic Spark user context and in the context of an organization.

[2015-04-09 17:50] idokleinman commented on #7
- User login endpoint
- Claim code endpoint
- Reset password endpoint

[2015-04-09 17:50] idokleinman commented on #7
This issue was moved to spark/spark-setup-ios#5

[2015-04-09 17:50] idokleinman opened #8 "Setup: Password reset mechanism"
_From @idokleinman on January 13, 2015 19:9_

Still open - static HTML? new API endpoint?
cc: @towynlin

_Copied from original issue: spark/mobile-sdk-ios#32_

[2015-04-09 17:50] idokleinman commented on #8
Password reset works nicely on staging,
still not on ifttt/prod cloud.
cc: @dmiddlecamp @towynlin @joegoggins
should be deployed and tested at end of sprint 29

[2015-04-09 17:50] idokleinman commented on #8
done

[2015-04-09 17:50] #8 closed

[2015-04-09 17:50] idokleinman opened #9 "Move all strings in app to stringlist file and add NSLocalizedString calls (allow future localizations)"
_From @idokleinman on March 3, 2015 12:58_

_Copied from original issue: spark/mobile-sdk-ios#61_

[2015-04-09 17:51] idokleinman opened #10 "Setup API: Add local notification after user connected to photon-wifi with link back to app"
_From @idokleinman on December 27, 2014 20:29_

_Copied from original issue: spark/mobile-sdk-ios#12_

[2015-04-09 17:51] idokleinman commented on #10
requires some research, this is not straightforward

[2015-04-09 17:51] idokleinman opened #11 "UI improvements"
_From @zsup on January 14, 2015 9:8_

Just did a comprehensive review of the app to pull together a list of UI tweaks. Overall I'd say we're about 75% there; it needs a bunch of clean-up and polish, but the structure's there.

There are a few places where this diverges significantly from the spec (entire views are missing and replaced with pop ups), and I think what's done here is more confusing a

[2015-04-09 17:51] idokleinman commented on #11
Thanks, great feedback!
Things to discuss:
- Splash screen - removing, though it does appear as screen 00 in the presentation
- Buttons turn darker when pressed - will fix further down the road since I need to subclass all setup UI elements and give them custom behaviour
- We should prepare the assets for the 'looping video' in the 05 GET READY screen and 'process images' for 06 DICOVER DEVICE scr

[2015-04-09 17:51] idokleinman commented on #11
More discussion:
- Set up instructions - move the troubleshooting text to the GET READY screen. Doesn't feel right because this troubleshooting talks about the failure to find the wifi network in settings, while the troubleshooting in the GET READY screen is about, er, getting the device ready.
- No activity indicator - should we other solution to reflect the app is "scanning" for the connection w

[2015-04-09 17:51] idokleinman commented on #11
_From @zsup on January 14, 2015 21:51_

Will do my best to address the issues here in bold

Splash screen - removing, though it does appear as screen 00 in the presentation

**What I envisioned as screen 00 is like what pops up in the Spark Core app, i.e. just an image/logo that disappears after a moment automatically, not something with a button that you step past.**

Buttons turn darker when pre

[2015-04-09 17:51] idokleinman commented on #11
`Multiple networks with the same SSID should be eliminated. You should only see one of each` - this is a firmware issue

Connection failed screen (10)- @zsup
Cannot be made to function as presented since the mobile device _already disconnected_ from the photon device SSID so it cannot force a 'retry' or 'change password' scenario without re-doing the discovery part (show discover screen, ask user

[2015-04-09 17:51] idokleinman commented on #11
_From @towynlin on January 20, 2015 3:26_

I think the firmware should continue to show all BSSIDs (including duplicate SSIDs), and the mobile app should de-dup the list for user display.

We will have to make the failure cases as smooth as possible for the end user. Probably there should be a timeout, after which we say something like, "Connection is taking longer than expected. Go to Wi-Fi setti

[2015-04-09 17:51] idokleinman commented on #11
We should discuss the two possible failures - both give suboptimal user experience -
1. device should not be owned - app do not know if the device connected to the cloud or failed because it cannot poll the device list for the user (it wouldn't appear there anyway)
2. device _should_ be owned by user - polling device list timeouts - now is the problem bad wifi credentials? or is the problem error

[2015-04-09 17:51] idokleinman commented on #11
more stuff to discuss:
- screen layouts for 3.5" devices
- inability to put all content (with video) on the discovery screen with the product photo
- error messages wording for each case
- success/failure screen - what to show

[2015-04-09 17:56] idokleinman opened #12 "SDK: Separate CloudConnection / CloudEndpoint from SparkCloud (allow DI, private cloud)"
_From @idokleinman on November 16, 2014 21:43_

_Copied from original issue: spark/mobile-sdk-ios#2_

[2015-04-09 17:57] idokleinman opened #13 "Test manual network name entry for secure network which is NOT WPA2 secured"
_From @idokleinman on February 24, 2015 1:16_

app doesn't know which security type is a manually entered network
but it's very bad UX to ask user about the type so app assumes WPA2 for all secured networks
we need to check this theory and see if firmware behaves correctly (firmware gets security type/channel on `configure-ap` command)
(also assuming channel 0)
relevant to #55

cc:
@jensck @towynl

[2015-04-09 17:57] idokleinman commented on #13
_From @zsup on February 24, 2015 14:24_

sounds like this may require work on the firmware side? Is there an `auto` security option where the firmware will first try WPA2 but if that fails try WPA and then WEP? seems like this would only be necessary for private networks where the security method isn't broadcasted. @m-mcgowan

[2015-04-09 17:57] idokleinman commented on #13
_From @jensck on February 25, 2015 16:59_

At least on Android, we could probably guess correctly most of the time while allowing the user to change it(?).

The idea relies a couple assumptions -- feel free to question these(!):
1. Networks with hidden SSIDs are a small minority
1. Anyone who's hiding their SSID is also probably using WPA2, since WPA and WEP are known to be insecure.  This is admi

[2015-04-09 17:57] idokleinman commented on #13
_From @towynlin on February 27, 2015 23:9_

I love that flow @jensck. :+1:

@m-mcgowan should weigh in here on firmware capabilities in this scenario.

On iOS AFAIK we can't scan from within the app, so defaulting to WPA2 sounds like a good idea. If the firmware can scan and/or retry other security types on failure to connect that would be helpful.

Otherwise the mobile app could send multiple con

[2015-04-09 17:57] idokleinman opened #14 "check all device ownership edge cases"
_From @idokleinman on February 24, 2015 1:36_

(1) device not claimed `c=0` — device should also not be in list from API => mobile app assumes user is claiming and sets device claimCode + check its claimed at last stage
(2) device claimed `c=1` and already in list from API => mobile app does not ask user about taking ownership because device already belongs to this user, does NOT set claimCode to

[2015-04-09 18:08] idokleinman opened #15 "Setup: Report exact last failed attempt problem to user AFTER re-connection to pigtail device"
_From @idokleinman on February 3, 2015 3:27_

_Copied from original issue: spark/mobile-sdk-ios#52_

[2015-04-09 18:08] idokleinman opened #16 "Move relevant assets (wifi signal, etc) from teacup to SDK repo"
_From @idokleinman on January 16, 2015 1:35_

_Copied from original issue: spark/mobile-sdk-ios#43_

[2015-04-09 18:08] idokleinman opened #17 "Setup: Fix threading re-entrant calls in 'connecting progress' screen without flags"
_From @idokleinman on January 30, 2015 5:31_

_Copied from original issue: spark/mobile-sdk-ios#48_

[2015-04-09 18:09] idokleinman opened #18 "Sign up fails with non-descriptive error message"
_From @emilyrose on January 15, 2015 5:5_

Steps to reproduce:

1. Populate sign-up form with:
    * email: __nexxy@spark.io__
    * password: __12345678__
1. Tap 'sign up' button

The resulting popup reads:
[code]

This issue may just primarily serve as a reminder to add more descriptive error messages.

__the actual cause of this error is that my email address has already been associated with a

[2015-04-09 18:09] idokleinman commented on #18
_From @emilyrose on January 15, 2015 5:16_

Suggestions:

If the API actually reveals the fact that the email has already been used to create a 'product owner' account (possible information leak?), then we should also tell the user via the UI.

If the API does not reveal the exact cause of sign-up failure, then we should suggest several common causes. Something to the effect of: "Have you already

[2015-04-09 18:09] idokleinman commented on #18
:+1:

[2015-04-09 21:54] idokleinman opened #19 "Setup: try removing ASN.1 header stripping and check encryption"
_From @idokleinman on January 11, 2015 2:24_

_Copied from original issue: spark/mobile-sdk-ios#28_

[2015-04-09 21:54] idokleinman opened #20 "Document soft AP device command flow"
_From @towynlin on January 15, 2015 5:42_

I'm imagining this to simply be a code comment somewhere, but it could be in the README or another piece of documentation. It would help newcomers to the code get oriented if there were a list of the typical flow through soft AP in terms of the commands issued to the device.

From a conversation with @idokleinman, here's the current state of things:

_Cop

[2015-04-09 21:54] idokleinman commented on #20
Actually there's lots of internal code flow that happens in Soft AP, also in SDK. I am not sure README is a suitable place for documenting that. I can add few lines to the header or implementation file of SparkSetupCommManager class probably

[2015-04-09 21:54] idokleinman opened #21 "Document soft AP device command flow"
_From @towynlin on January 15, 2015 5:42_

I'm imagining this to simply be a code comment somewhere, but it could be in the README or another piece of documentation. It would help newcomers to the code get oriented if there were a list of the typical flow through soft AP in terms of the commands issued to the device.

From a conversation with @idokleinman, here's the current state of things:

_Cop

[2015-04-09 21:55] idokleinman commented on #21
Actually there's lots of internal code flow that happens in Soft AP, also in SDK. I am not sure README is a suitable place for documenting that. I can add few lines to the header or implementation file of SparkSetupCommManager class probably

[2015-04-09 21:55] idokleinman commented on #21
This issue was moved to spark/spark-setup-ios#20

[2015-04-09 21:56] idokleinman commented on #21
duplicate

[2015-04-09 21:56] #21 closed

[2015-04-09 21:56] idokleinman commented on #16
done

[2015-04-09 21:56] #16 closed

[2015-04-09 21:57] idokleinman commented on #12
This issue was moved to spark/spark-sdk-ios#17

[2015-04-09 21:57] #12 closed

[2015-04-13 07:00] #18 closed

[2015-04-13 07:02] idokleinman commented on #5
duplicate

[2015-04-13 07:02] #5 closed

[2015-04-15 02:00] idokleinman opened #22 "Force cocoapods to NOT explode /resources/Images.xcassets into separate files in target pod"
No good:
![screen shot 2015-04-14 at 19 01 01](https://cloud.githubusercontent.com/assets/6490062/7151004/a62cf82e-e2d8-11e4-9a22-dab3c6adbc70.png)

[2015-04-15 02:03] idokleinman opened #23 "Go through all TODO: comments in code and fix"

[2015-04-15 02:03] idokleinman commented on #6
Done (Mat) - need testing

[2015-04-17 00:19] idokleinman opened #24 "Extract all localizable strings"

[2015-06-01 11:50] DeepLight opened #25 "checkDeviceIsClaimed causing crash"
I'm having problems with the setup controller.
It crashes my app with the following error, every time:

 *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[SparkDevice objectForKeyedSubscript:]: unrecognized selector sent to instance 0x1915b9a0'

at this line:

![image](https://cloud.githubusercontent.com/assets/1871804/7912104/5035ec74-085c-11e5-88b5-c14827de0f

[2015-08-27 01:16] nick-jonas opened #26 "Setup: pod install throwing errors "Reachability.h" doesn't exist"
I'm just trying to get up and running in Xcode, and I'm getting this error when running ```pod install``` and noticed it's not included in this repo:

[code]

[2015-08-27 14:02] #26 closed

[2015-09-04 19:32] ashu1702 opened #27 "[!] Unable to find a specification for `SparkSetup`"
I have pod "SparkSetup" in my podfile and when i do pod install its giving me this error.
Anybody facing the same issue ?

[2015-09-18 19:20] pomplesiegel opened #28 "False positive: setup "success" despite disconnected Photon"
In some cases (varying/inconsistent WiFi reception/availability), we're seeing a fully "successful" setup procedure via the iOS app, despite that the Photon is still flashing green, looking for a connection. This occurs with both the iOS app "Particle," as well as our custom app, which uses the same SDK. This occurs both within iOS 8 and iOS9.
Every step passes, including "Check for internet conne

[2015-09-22 17:41] arielgelbard opened #29 "Could not send device-id command: Timeout occured while waiting for response from socket"
Keep getting this error message in the sdk which does not allow me to continue past the 'Once Connected, return to this app' screen.

![screen shot 2015-09-22 at 1 32 25 pm](https://cloud.githubusercontent.com/assets/5472973/10026260/aea96454-612e-11e5-9714-e42c86815e7b.png)

![img_1505](https://cloud.githubusercontent.com/assets/5472973/10026399/998eefc0-612f-11e5-8224-c4bed698182a.PNG)

[2015-09-28 19:57] pomplesiegel commented on #28
@idokleinman, any thoughts on this? We want to make sure that by the time we integrate the WiFi setup SDK into our app, the program will accurately reflect the user's connectivity. Currently the app sometimes shows a false positive (shown above) even through the Photon never successfully reached the cloud.

[2015-09-28 20:45] karlhenricksen opened #30 "WEP security not supported with Photon"
Hi, I have only tried one router that supports WEP-security type so far, Linksys wrt-54g, but when I set that up and attempt to set Photon wifi up on that router using the particle app, it hangs at the "Connect to Wi-Fi network" screen for 2 min, before it throws up the "Oops" screen 3-7 times (this is a secondary issue with the app). Resetting the photon results in a solid / slightly flickering g

[2015-09-28 20:46] karlhenricksen commented on #30
Also, should I open a separate issue for the multiple "Oops" screens that pop up on the app? Would imagine this may be one of the only times you'd see that problem, but it's not pretty.

[2015-09-29 13:19] m-mcgowan commented on #30
@karlhenricksen have you seen this - https://community.particle.io/t/how-to-setup-wep-secured-network-on-the-photon/16026. Does formatting the password help?

[2015-09-29 16:45] karlhenricksen commented on #30
@m-mcgowan yes, that does help thanks, it appears to go through successfully though I do have to reset every time afterwards (FYI https://github.com/spark/firmware/issues/620 - setup with WEP looks to be a consistent way to reproduce that other issue).

Unfortunately this isn't a great solution for the customers that still use WEP (or have no control over their internet connections) since they wou

[2015-09-29 20:12] karlhenricksen commented on #28
I see this same thing, but it seems to me the issue is more generic, and after the first checkpoint "Configure Device Wi-Fi Credentials", the rest are non-functional checks - is this the case?

The easiest way to see this in action is to supply an incorrect wifi password - it sends the credentials successfully, but then all of the other checks pass and reports "Setup completed successfully".  Mean

[2015-10-08 19:17] pomplesiegel commented on #30
Hey @m-mcgowan, would it then make sense to have `spark-setup-ios` add the additional WEP formatting to the customer's inputted WEP password?

When a customer enters a WEP password for their computer or smartphone to join a network, they need not add any additional formatting. Shouldn't our WiFi migration app work in the same way?

[2015-10-08 19:44] idokleinman commented on #28
@pomplesiegel does this happen only on a device that was setup successfully before? I indeed suspect that the cloud is reporting this device to be online & owned by the app's currently logged in user

@karlhenricksen basically the "verify device ownership" step polls the cloud device list API to check if the device appears under the user account & online. Rest of the steps - the iOS device is reco

[2015-10-08 20:07] pomplesiegel commented on #28
@idokleinman, thanks for the response! We just tried unclaiming a photon and setting it up from scratch (unclaimed + no WiFi creds + system fw 0.4.6) using the Particle app.

On the first try of WiFi setup the photon SOS'd due to [this](https://github.com/spark/firmware/issues/663) bug (unrelated, so not worried about that), causing the Photon to be offline. However, the app still posted a checkma

[2015-10-27 18:45] pomplesiegel commented on #28
@idokleinman, any plan for how to fix this? It's been more than a month without any update.

When "Particle Setup" is integrated into our app, the customer needs to know whether their ioT device has successfully connected. Currently, there is no accurate confirmation regarding a successful vs unsuccessful WiFi setup, which will lead to serious customer confusion.

[2015-10-27 20:55] kneuron commented on #28
Just want to add my two cents - we're seeing very similar behavior in the spark-setup-android, and it's a problem for us as well.

[2015-10-27 22:47] idokleinman commented on #28
@pomplesiegel sorry for the delayed responses, we've been hard at work on Electron related development and new iOS/Android app releases has been postponed. So to clarify on the Soft-AP setup flow inner workings - once the Photon drops connection with the mobile device we have no way to know at what state it is - meaning we cannot really know if you supplied wrong wifi credentials. The last checkpo

[2015-10-27 22:51] zsup commented on #28
Adding a check that the device is in fact online definitely seems like a good step, and will provide a clear user flow for online (report success) vs. offline but claimed devices (report failure to connect, let the customer keep trying or re-start the process). Also we should add this for Android if it's the same on both systems

[2015-10-27 23:51] pomplesiegel commented on #28
@idokleinman, thanks for the response. Totally understand you're juggling many projects at the moment. Yes, we are using 0.4.7, but this reporting has remained constant since about 0.4.5.

@zsup, Totally. Online/offline checks would allow much greater accuracy regarding whether the WiFi cred setup has been successful or not. In the end, all that the customer knows about is whether their device has

[2015-10-28 01:06] zsup commented on #28
Sounds like there are two issues here, each of which should be addressed separately:

1) Making sure that the app properly manages the case where the device is claimed but offline @idokleinman

2) Making sure that the API properly reports whether devices are online/offline, and that any temporary discrepancies (like when a device disconnects but doesn't close the TCP socket, which means that it wi

[2015-10-29 15:16] pomplesiegel commented on #28
Sounds totally right! Thank you

[2015-10-29 16:47] idokleinman commented on #28
:+1:

[2015-10-29 22:55] idokleinman commented on #27
what error?

[2015-10-29 23:00] idokleinman commented on #30
@pomplesiegel I guess we can make the device setup lib format the password for WEP cases. It is not high priority on our backlog tasks currently. You're most welcome to add this code and send a PR.

[2015-10-30 23:28] idokleinman commented on #28
We plan to fix those issues in the device setup library code and post a new update to Tinker app in the coming 3 weeks.

[2015-10-31 21:45] pomplesiegel commented on #28
Great! By the "Tinker app" do you mean the "Particle" app available in the iOS store?

[2015-11-04 04:21] JSchaenzle opened #32 "SparkSetupMainController failing due to missing bundle"
When I try to create an instance of SparkSetupMainController the following line throws an exception:
    `NSBundle *bundle = [NSBundle bundleWithURL:[[NSBundle mainBundle] URLForResource:@"SparkSetup" withExtension:@"bundle"]];`

The exception seems to indicate that the bundle is nil.
` -[NSBundle initWithURL:]: nil URL argument"``

I am using Cocoapods to load the Spark-Setup dependency. I have t

[2015-11-04 04:35] idokleinman commented on #32
Strange.
Can you take a look at this example project:
https://github.com/spark/spark-setup-ios-example

as a reference on how to use the SparkSetup lib - maybe you've done something wrong.
let me know if that works for you

[2015-11-04 13:18] JSchaenzle commented on #32
The example project works (although I had to replace all the println calls with print to compile it with xcode7).

I've been comparing the items in the Build Phases between my project and the example and I noticed that the example project contains a bunch of items under the 'Copy Bundle Resources' section including fonts and the main storyboard. When I look at my project I don't have any of the sa

[2015-11-04 13:26] JSchaenzle commented on #32
Oh by the way, I also had to change the angle brackets around the header files to quotes, in SparkSetup.h, in order to compile my project. Not sure if that is also telling of a setup problem...

[2015-11-04 20:01] idokleinman commented on #32
1. Yea, project needs updating to Swift 2.1/iOS9.1/Xcode 7.1 - shouldn't be a big issue (XCode got 'convert to modern swift' auto refactoring option)
2. I am not sure about the copy bundle resources issue - what I'd recommend is removing 'SparkSetup' and/or 'Spark-SDK' from `PODFILE` running `pod install` and then re-adding it and running `pod install` again - I found that it solves those kind of

[2015-11-04 23:55] andrewmunsell commented on #32
I've been running into the same issue but have fixed it for myself. One of the problems is that in my Swift project, I've turned on CocoaPods `use_frameworks!` to enable the use of some external Swift libraries. Because of this, the bundle isn't properly located (see the announcement for CocoaPods 0.36 where this change was made: http://blog.cocoapods.org/CocoaPods-0.36/)

I'll have to verify that

[2015-11-05 01:42] JSchaenzle commented on #32
Just wanted to say I discovered this same thing earlier tonight. I removed use_frameworks! from my Podfile and that fixed the issue. Mine is also a swift/obj-c project but I'm actually not using Cocoapods to pull in any frameworks (I'm using Carthage for that) so it looks like I don't need the use_frameworks! flag.

I am glad to hear you fixed this though. Thanks!

[2015-11-07 00:11] #32 closed

[2015-11-07 00:12] idokleinman commented on #32
PR merged, thanks!

[2015-11-09 18:00] JSchaenzle commented on #11
The WiFi network name runs into the network security type (See attached image from my iPod touch). There's plenty of vertical space on this screen so I think it would look nice to drop the security type down one line and left-align it with the network name. Sound good?

I would like to help out and make this change but I am having an issue with Xcode. Not sure if I'm doing something wrong or if it

[2015-11-09 23:31] idokleinman commented on #11
Thanks for the will to help!
Go to the storyboard and select size classes "Width Compact | Height Regular" (3 rectangles leftmost in a column) and you'll be able to see the setup screens (bottom middle)

[2015-11-10 01:03] JSchaenzle commented on #11
That worked. Thanks!

[2015-11-10 01:44] JSchaenzle commented on #11
@idokleinman I've updated the constraints on the password entry view to fix the overlap issue that I mentioned above. This made the overall container view of that screen a bit taller.

With the container view being centered vertically I think it's getting pretty close to the point where the keyboard would cover up the "Hide Password" switch on an iPhone 4s. That got me thinking, why is the contain

[2015-11-10 02:17] idokleinman commented on #11
Sure, I have no objections,
just be sure to check all modified viewcontrollers on a 3.5" (iPhone 4S)
screen before submitting the PR.

Thanks!

On Mon, Nov 9, 2015 at 5:44 PM, Jordan S notifications@github.com wrote:

##

Regards,

_Ido Kleinman_ | Lead mobile engineer
ido@particle.io ido@spark.io | 415.400.6389 <//415.400.6389>

[2015-11-18 00:40] idokleinman commented on #28
@pomplesiegel yes.. again sorry for delays. Hard at work on Electron stuff.
Hopefully next sprint we'll add a warning if setup succeeds but Photon is offline

[2015-11-18 00:42] pomplesiegel commented on #28
Great, looking forward to it, as this will be in customers' hands in not too long. Thanks!

[2015-11-24 21:55] crenwick opened #36 "Launching on non-root view controllers crashes the phone."
Launching the spark setup via:
[code]
works fine on the root controller, but when I try to make this action happen on a nested view controller (but still the controller in view), it not only crashes the app but causes the entire phone to restart--losing connection with xcode and making it difficult to debug.

So far, it seems to get to get all the way through the [viewDidLoad method](https://githu

[2015-11-24 23:07] crenwick commented on #36
Inside that nested view controller, I can present the SparkSetup on the root controller like so:

[code]

This is obviously not the desired behavior I want, as now I need to handle the strange animation of dismissing and presenting two view controllers at the same time, and I also have to handle the logic to bring back the desired (nested) view controller when the SparkSetup completes.

I'm sure t

[2015-11-24 23:36] idokleinman commented on #36
What do you mean works well only on root viewcontroller?
You can take the Particle app (Tinker) as an example - it pops up a Setup 'wizard' modal flow which is not on the root VC without any issues. Maybe take a look on that repo as a reference.
https://github.com/spark/photon-tinker-ios

[2015-11-25 00:13] crenwick commented on #36
Hmmm. I cloned [this fork of the example app](https://github.com/Andrewpk/spark-setup-ios-example/tree/7bd784b693042a38de439ba0b5ca1e220272d79c) and was able to get view controllers working without the crashing bug.

I'll try to dig around more and figure out why this is happening with my app.

[2015-11-25 00:54] idokleinman commented on #36
Great, happy to hear. I'm closing this issue for now, feel free to re-open if necessary or post in our community website if more help is needed
https://community.particle.io/c/mobile

[2015-11-25 00:54] #36 closed

[2015-11-25 23:43] #28 closed

[2015-11-26 01:38] #27 closed

[2015-11-26 01:39] idokleinman commented on #22
This issue has been fixed in release 0.3.2 of the device setup lib pod

[2015-11-26 01:39] #22 closed

[2015-11-26 01:39] idokleinman commented on #25
is this still an issue?

[2015-11-26 10:08] iain-reid commented on #25
Hi, I'm not sure if it's still an issue - it's been a while since we worked on this project, and I don't have the kit to hand. Safe to close it i'd say :-)

[2015-11-26 10:08] #25 closed

[2015-11-30 20:26] crenwick opened #37 "Setup causing false negatives."
[This block](https://github.com/spark/spark-setup-ios/blob/master/Classes/UI/SparkConnectingProgressViewController.m#L445-L448) checks to see if the new device is connected to the ios Spark SDK, however, it uses `device.connected` from the API.

As @zsup mentioned in https://github.com/spark/spark-setup-ios/issues/28#issuecomment-151688414, there is an issue with this API being accurate. In my uns

[2016-01-20 09:08] henrik-d opened #39 "Build-Errors using Swift Pods"
I have problems using SparkSetup with CocoaPods in Swift.

These were my steps:
1) Create a new Swift-Project in Xcode
2) Create a Podfile and install
[code]
3) `import SparkSetup` in ViewController.swift

I get these errors:
![bildschirmfoto 2016-01-20 um 10 06 31](https://cloud.githubusercontent.com/assets/6033679/12444172/855a450e-bf5d-11e5-9569-ab4560678dbf.png)

[2016-01-20 09:42] idokleinman commented on #39
Seems like you did not create bridging headers.

See here:
http://swiftalicio.us/2014/11/using-cocoapods-from-swift/
http://www.learnswiftonline.com/getting-started/adding-swift-bridging-header/

[2016-01-20 09:59] henrik-d commented on #39
Thanks for the quick reply.

I can't use bridging headers, since I use `use_frameworks!` in my Podfile (which I have to, because I also want to use swift-only-libraries)

[2016-01-20 10:48] idokleinman commented on #39
I think you can, read here:
http://stackoverflow.com/questions/29905271/unable-to-use-both-swift-and-obj-c-libs-with-cocoapods

[2016-01-20 11:37] henrik-d commented on #39
Thanks, thats working for me. Didn't know that having both is possible!

[2016-01-20 11:37] #39 closed

[2016-02-17 01:21] crenwick commented on #32
Is there a demo of this working?

I can get my project to build and go on a device, but I cannot successfully create an archive with `use_frameworks!`.

[2016-03-08 19:10] kyle-ssg commented on #1
Can also replicate this, not sure how though

[2016-03-08 22:32] idokleinman commented on #1
Working on it. Any insight/repro techniques/info most welcome.
Might be some kind of iOS 9 incompatibility

[2016-03-08 23:00] kyle-ssg opened #42 "Get device id from setup"
Hey, this is less of an issue more of a question. I'm looking to port this to a react native app. I've got the setup working however I'm wondering if I can get the connected device id as part of any callback? I have next to no objective c experience so I'm probably missing something :).
I've written a simple bridge as follows:
[code]

[2016-03-08 23:06] idokleinman commented on #42
Sure, there you go:

You can get an active instance of SparkDevice by making your viewcontroller conform to protocol <SparkSetupMainControllerDelegate> when setup wizard completes.

`-(void)SparkSetupViewController:(SparkSetupMainController *)controller didFinishWithResult:(SparkSetupMainControllerResult)result device:(SparkDevice *)device;`

This method will be called. If (result == SparkSetupMai

[2016-03-08 23:10] idokleinman commented on #37
I agree. No problems to keep the discussion here.
There's certainly room for improvement on the `.connected` API - setup should listen to the specific `device came online` and `device went offline` events that Photons publish to the cloud. I've been planning on adding that functionality internally to the Cloud SDK at some point.

[2016-03-08 23:12] idokleinman commented on #29
This is some kind of a dead loop in the connection between setup app and the Photon firmware in Soft AP mode. Need to find some reliable technique to reproduce it. Fix is pending

[2016-03-08 23:12] #15 closed

[2016-03-08 23:13] #3 closed

[2016-03-08 23:25] kyle-ssg commented on #42
Thanks so much for the quick response! I have a feeling I tried this however started getting keychain issues.. Again Objective C is completely new to me.. Will have to try again when i get my hands on a photon. From what I understand then I just add this to my app delegate ?

[code]

[2016-03-09 00:33] idokleinman commented on #42
Looks good. Investigating the keychain issue.
btw, you can always go the Swift way if Obj-C feels weird to you

[2016-03-09 10:50] kyle-ssg commented on #42
Hi again. I'm getting SparkSetupResultSuccessUnknown as the result and device is null, however the device connected successfully.

[2016-03-14 09:11] kyle-ssg commented on #42
Hi, could you perhaps shed any light on this? I imagine it could either be due to my device in particular, or perhaps the device doesn't return with initWithSetupOnly:YES

[2016-03-14 17:05] idokleinman commented on #42
This means that the cloud detected the device as offline just after finishing setup and could not generate an instance. Is it happening all the time?

[2016-03-14 18:37] kyle-ssg commented on #42
Seems to be happening every time yes, I'll try on my WIFI at home perhaps in that case as it takes quite a bit longer to connect at work.

[2016-03-16 01:22] idokleinman commented on #42
Let me know how it goes

[2016-03-16 11:58] kyle-ssg commented on #42
Hi again, it seems to still happen when tethering to my phone. Eventually I'll be working with a chipset that goes dormant as soon as it successfully connects to the network in order to save battery, I imagine this approach won't work here.

Upon inspection it seems getDeviceID is successfully retrieving a detectedDeviceID during setup. Is there a way I can simply pass that to the setupDidFinishOb

[2016-03-16 15:30] kyle-ssg commented on #1
I can replicate this every time by doing the following:

-Initiate setup process and enter incorrect details
-Re-initiate setup process while you're connected to Photon's WIFI rather than your own

[2016-03-16 15:47] kyle-ssg commented on #42
Ended up implementing
`didFinishWithResult:(SparkSetupMainControllerResult)result deviceID:(NSString *)deviceID`

returns deviceID in either success or unknown, this shall suffice for what I need.. Thanks!

[2016-03-16 18:43] idokleinman commented on #1
wrong details as in wrong wifi creds or wrong Particle login?

[2016-03-16 18:53] kyle-ssg commented on #1
Wrong WIFI creds, luckily I've found that this only happens in debug mode.

[2016-03-16 18:54] #42 closed

[2016-03-16 18:58] idokleinman commented on #1
on simulator/device?

[2016-03-16 19:07] kyle-ssg commented on #1
Device

[2016-03-17 05:10] ghost commented on #39
Hi there, I was running into the same issue, and I followed the link to use both swift and obj-c using search paths. The `file not found` error went away, but the `file not found with <angled>` error is still occurring. This only happens when I try to build the project with a device. It works fine in the simulator.

[2016-03-17 08:30] idokleinman commented on #39
Is your project in swift?
Do you have (other) swift dependencies in your project?
Do you use `use_frameworks!` in Podfile?

[2016-03-18 00:17] asanchezdelc commented on #39
@idokleinman yes to all.

In the mean time, I got it working by just modifying the `SparkSetup.h` includes to use quotes.

[2016-03-18 17:59] idokleinman commented on #39
I am glad to hear. Which includes you had to change? You are welcome to submit a PR btw.

[2016-03-18 18:07] asanchezdelc commented on #39
On `SparkSetup.h` I changed the <angled> imports to

[code]

[2016-03-18 18:12] henrik-d commented on #39
These changes where necessary for me as well.

[2016-03-19 01:55] idokleinman commented on #39
I'll fix it in the next update of the device setup lib.
Thanks!

[2016-03-27 00:50] woxaixni opened #43 "'isAuthenticated' not found"
whenever it have "if ([SparkCloud sharedInstance].isAuthenticated)" throw me an error
**error**
/Users/VICE/Downloads/photon-tinker-ios-master/Pods/SparkSetup/Classes/UI/SparkGetReadyViewController.m:66:37: Property 'isAuthenticated' not found on object of type 'SparkCloud *'

also on
SparkDiscoverDeviceViewController.m#430 [SparkCloud sharedInstance].isAuthenticated
SparkSetupMainController.m#96

[2016-04-01 00:17] idokleinman commented on #43
This is WIP on the spark-sdk-ios repo, will be released soon along with documentation. be sure to use latest official release and not tip of the master branch.

[2016-04-01 00:17] #43 closed

[2016-04-01 00:19] idokleinman opened #44 "Fix the many iOS 9 deprecations"
To list some:

- UIAlertView
- MPMoviePlayerController
- CNCopyCurrentNetworkInfo (might be problematic since no alternative offered by Apple)

[2016-04-01 00:20] #11 closed

[2016-06-06 14:21] KillerGasy commented on #42
Hey Kyle,

Would you mind helping me integrate the set up library with React Native?

Having some issues, I also have little to no knowledge of Objective-C.

Thanks in advance,

KillerGasy

[2016-06-07 13:31] iain-reid opened #46 "Could not load the "xxxxxxxxx.png" image referenced from a nib in the bundle with identifier "(null)""
I've added pod 'SparkSetup' and the libraries appear to have been added correctly - the setup view controller presents and functions correctly.

_However_ it is missing all of the imagery/loaders etc. I get warnings in the log window - "Could not load the "xxxxxxxxx.png" image referenced from a nib in the bundle with identifier "(null)" for every image.

Looking into the pod folder, the **setup.st

[2016-06-07 19:51] idokleinman commented on #46
which pod version did you use?
this issue was fixed on 0.4.1
https://github.com/spark/spark-setup-ios/blob/master/CHANGELOG.md#041-2016-5-19

[2016-06-08 07:58] iain-reid commented on #46
I've updated Cocoapods to 1.0.0 and it seems to work now - been resisting as Parse SDK seems to have an issue with 1.0.0... round and round we go :-p

Thanks for the advice though!

[2016-06-12 14:39] williamhqs commented on #46
How did you solve this issue? I updated to Cocoapods 1.0.1 too. Still got the same issue. Thank you! @DeepLight @idokleinman

[code]

[2016-06-13 08:14] iain-reid commented on #46
Hey @williamhqs - not sure if this makes any difference, but I've left use_frameworks commented out in the podfile, and I only include SparkSetup (as I think spark-SDK is pulled in anyway)

[2016-06-13 14:03] williamhqs commented on #46
@deeplightco  Thank you. I can't comment out `Spark-SDK`, you are right. But i can't commented out `use_frameworks` because i use swift library....
@idokleinman Any help thanks!

[2016-06-22 10:45] williamhqs opened #47 "SparkSession.h file not found"
As the title described, after i run `pod install` i got this error. My pod file only has  `pod 'SparkSetup'`

[2016-06-22 16:55] idokleinman commented on #47
checking...

[2016-06-23 06:05] williamhqs commented on #47
I comment all run pod install and uncomment all run pod install, works.

[2016-06-23 06:05] #47 closed

[2016-06-23 16:54] idokleinman commented on #47
not sure I understood the solution, can you explain?

[2016-06-24 08:12] williamhqs commented on #47
Comment all like `// pod 'xxxx`, then run `pod install`. Something like reinstall not clear. But not shouldn't be update i think. Then install it again by `pod install`

[2016-07-03 14:00] KillerGasy commented on #25
I getting this issue also

[2016-07-05 18:36] idokleinman commented on #25
@KillerGasy This has been fixed.. What library pod version you are using?

[2016-07-15 02:26] kneuron opened #48 "trouble setting up photon - app fails/crashes on submitting WiFi credentials"
We have multiple (3, currently) customers who are unable to give WiFi credentials to their photon using our app (CleverPet - using the spark-setup-ios v 0.5.0), and all are failing in a very similar way. Digging in, we found that all of them were on iOS 9.3.2 on an iPhone 6S+  One very helpful customer downloaded the latest Particle app and experienced similar behavior attempting to set up.

Here'

[2016-07-27 21:40] kneuron commented on #48
has anyone had a chance to look at this? We have multiple users that can't get their devices online.

[2016-08-05 22:24] philipmeier commented on #48
I would be happy to provide more information about the users that encounter this error.  More and more people are encountering this situation. Users seem to repeatedly get the following error from the SDK:

SparkSetupMainControllerResultFailureConfigure

For example, some users have more than 10 errors, with the same result each time.  We have at least 4 users that never got online, and that we ca

[2016-08-15 01:13] philipmeier commented on #48
For example, here is one customer that continues to have the Configuration failure during setup. (in our org, their photon id starts with: 3400200009473434)  On the dashboard the photon shows as "never connected."  Initially we thought this might be a phone-hardware specific error. Given the increased occurrence of these errors across many phones, we don't think thats as likely any more.

[2016-08-15 14:35] crenwick commented on #48
😞 -- this is rough.

I've definitely seen failures like this in the field, but nothing that caused an iOS crash or immediate error exits. One of the more common failures I've seen is the app spinning forever, trying to connect the device online. For that, we have customers power cycle our devices (which I'm sure you have tried).

Have you tried typing the SSID in manually (even though it shows up

[2016-08-15 21:13] idokleinman commented on #48
I don't think it has something to do with enterprise account or with manual SSID entry..
The error you describe here means that the SDK fails at sending the `configureAP` command to the photon which is the first step to set the Wi-Fi credentials - this usually means that the socket connection between the phone and the photon was dropped before user has gotten to this screen.

I'd love to get a bet

[2016-08-16 07:24] kneuron commented on #48
Hey @crenwick Thanks for the tips -- we'll keep them in mind -- and for the commiseration :)  To be honest, we've had hundreds of setups that go smoothly, these edge cases are bound to happen - the key for us is responding quickly and getting the customers online as quickly as we can.

@idokleinman thanks for checking this issue out. As @philipmeier mentioned above, we've got a bunch more data we'

[2016-09-08 20:51] idokleinman commented on #48
Hi guys, many thanks for your patience on this matter. A quick update: @m-mcgowan & myself will try to make an effort to find the root cause of these issues this sprint. As a general idea our effort will include creating a verbose debug logging version of the 0.4.9 firmware as well as the iOS app (with verbose logging of the Soft AP process) and try to recreate the issues in the SF office and at M

[2016-09-12 14:30] Shaninnik opened #49 "Can not get two-legged auth to work"
I am trying to setup two-legged device connection process for iOS app that I am developing, but connection always fails on the last step: Verify device ownership. I was able to successfully create shadow customer (https://docs.particle.io/reference/api/#create-a-customer---client-credentials), update it's oauth token (https://docs.particle.io/reference/api/#generate-a-customer-scoped-access-token)

[2016-09-12 18:32] idokleinman commented on #49
Did you associate this photon ID with your product in console?

[2016-09-15 10:36] Shaninnik commented on #49
Ohh..., as I have said - stupid mistake. It works now! Thanks, I would have never figured this out by myself - I guess it might be worth noting this somewhere in the documentation for two-legged auth process.

[2016-09-16 21:26] nmccann opened #50 "Include result in didNotSucceeedWithDeviceID:"
For my use case, I'm only interested in configuring the WiFi credentials for my device (without changing it's ownership). Unfortunately in this case `didFinishWithResult:device:` always passes a nil device. This is understandable, however I need the device ID to pass to my backend, so I have to use `didNotSucceeedWithDeviceID:`. This method can be called in response to multiple states, so it would

[2016-09-16 21:48] nmccann commented on #50
Alternatively a single method could be used: `didFinishWithResult:andID:device:` or something similar.

For my use case it's a little odd that `didFinishWithResult:device:` is a required method, since I never expect to use it. But I admit my use case may not be common.

[2016-09-18 16:33] williamhqs commented on #49
Hi @Shaninnik @idokleinman  i am working on two -legged auth recently too. May i ask did you use SPK SDK methods or your own **POST/GET** to **shadow customer**?

If i follow the document the **server side** after create the user then _generate (shadow) customer_\* by adding **no_password** field like below.

[code]

Then as i get the **access_token** on server which used to generate claim code, b

[2016-09-18 17:29] Shaninnik commented on #49
Hi @williamhqs The back-end part is very straightforward, no Spark SDK on server side, just plain POST requests. On user registration I also create shadow customer in the Particle Cloud:

[code]

And return **access_token** to the iOS app. Once returned in the iOS app I use

[code]

Also I use OAuth2 for authentication internally, so every time I refresh my own access toke, I also do Particle acce

[2016-09-21 10:03] williamhqs commented on #49
HI @Shaninnik Thank you for your response on time and sorry just have time today to continue on this then reply to you late : )

I get the token.
`"access_token" = 027e7703f162097853bd0b3a6cbad367fc703f40;
        "expires_in" = 7776000;
        "refresh_token" = 94ad8525c9f460e15e5864b1432d143ac94dd1b7;
        scope = "customer=test2@gmail.com";
        "token_type" = bearer;`
 "
but when i try

[2016-09-21 10:08] williamhqs opened #51 "'Couldn't add the Keychain Item.'"
I am working on two-legged auth part, after get the access_token from my server, i try to inject session:

`SparkCloud.sharedInstance().injectSessionAccessToken(dic["access_token"])`

got error:
`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Couldn't add the Keychain Item.'
`

And should be this line issue.
[code]

Any help?

[2016-09-21 13:07] williamhqs commented on #51
Fixed:
http://stackoverflow.com/questions/39614125/keychainitemwrapper-couldnt-add-the-keychain-item

[2016-09-21 20:28] idokleinman commented on #51
Lovely - thanks for sharing. I think I'll have to add this piece of instruction to deploying apps with Particle SDK...

[2016-09-23 02:49] williamhqs commented on #51
hi @idokleinman Sorry it's not Particle SDK issue. No need to add into instruction. My bad!

I update my apple account expired before i updated to Xcode 8. So i removed my account and re-login it works for my device now. But not simulator.

Thank you!

[2016-09-23 16:24] #51 closed

[2017-02-24 16:09] steve-haskins commented on #42
I am also having some issues integrating the iOS setup library with React Native. Does anyone have a guide that would be helpful?

[2017-02-24 16:11] KillerGasy commented on #42
I'm still looking for the guide

[2017-02-27 16:54] KillerGasy commented on #42
@kyle-ssg Any help possibly?

[2017-02-27 18:15] mdzura opened #53 "SparkSetup API - Improper Alignment for iOS iPad Form Factor"
There seems to be something wrong with the way SparkSetup works on an iPad when building your own app. I have a button to login to a particle account, but the login page is completely misaligned. I've tried testing on a physical iPad as well as different iOS iPad emulators, and it doesn't display properly. However everything works perfectly on an iPhone emulator.

I tried fixing the layout of the

[2017-02-27 18:23] rickkas7 commented on #53
I was able to reproduce this, creating a new universal project with the current spark setup and opening it in the iPad Air emulator. The same project displays correctly on my phone.

[2017-02-27 21:14] idokleinman commented on #53
Known issue, constraints for the setup lib were not created for generic window size, since project was created before XCode supported this (traits, etc).
Good workaround: please use UIModalPresentationFormSheet style window popup to display the setup wizard, more info here:
https://developer.apple.com/reference/uikit/uimodalpresentationstyle/uimodalpresentationformsheet

I'd love to get a PR from

[2017-02-27 21:18] shaskins commented on #42
Which part do you need help with? You basically just need to include the particle iOS sdk in your xcode project with either cocoapods or carthage, and then you build a custom class as seen on the OP to create a wrapper for it. Import it in your javascript, and you can then access it.

You can read about creating and using native components here: https://facebook.github.io/react-native/docs/native-

[2017-02-28 09:20] KillerGasy commented on #42
I have been able to do that part. The main part in which I am having trouble is getting the ID from a successful connection and giving it to the React-Native side of the application. @steve-haskins

[2017-03-07 18:04] steve-else opened #54 "Customizing Text Content"
I'm curious if there is a way to customize the text written during the wizard setup process, i.e "Plug in your Particle device to power it on". There are specific variables exposed that can be changed such as deviceName, productImage etc, but can we change the entire string? While most of the default text is good, I'm curious if we can customize it more to suit our customers.

[2017-03-07 19:10] idokleinman commented on #54
There are several text customization points as you implied, if you require deeper changes feel free to modify the `setup.storyboard` file as you please

[2017-03-07 19:17] shaskins commented on #54
Much appreciated!

[2017-03-08 21:35] shaskins commented on #54
Out of curiousity, is there any plans to implement allowing all of the strings to be edited without having to go in and modify the setup.storyboard file? Is there a reason they aren't all exposed to be changed?

And another question regarding the existing listenModeLEDColorName, I see it written in the documentation as something that you can change, even though it doesnt work. Which makes sense be

[2017-04-18 18:25] steve-else opened #55 "Getting Device ID after Setup Completion"
I am currently implementing this library while using react-native, and I'm having issues with getting the device ID after completion of setup. This is an extension of this previous thread:
https://github.com/spark/spark-setup-ios/issues/42

My current RCT export method to launch the setup is as follows:

[code]

From that thread, it seems to catch the event you must use the following:

`-(void)Spa

[2017-04-20 15:29] steve-else commented on #55
Figured out my issue, can close this!

[2017-04-20 20:26] idokleinman commented on #55
Thanks for the update, I'd love to get insight to your react-native implementation if thats open source.

[2017-04-20 20:26] #55 closed

[2017-04-21 17:31] steve-else commented on #55
Unfortunately the project I'm working on isn't open source yet, it's for a company product. But I can share how to set this up for anyone who's curious. For some context, what I was trying to accomplish here was to POST the device name and device ID to our own database after successfully setting up a device on your account. We are using two-legged authentication.
My main deviation from the other t

[2017-04-28 22:00] yourstartupgirl opened #56 "Cannot use cancel button on app"
When on the setup screen for the Photon, the "cancel" button does not work. I needed to click out of the app and back in to have it go back to "Your Devices" screen.

[2017-05-01 19:11] idokleinman commented on #56
Thanks for reporting! I'll take a look and update.

[2017-05-08 10:24] rickkas7 opened #57 "Problem building with 0.7.0 and Carthage"
My Carthage build fails when I use the spark-setup-ios version 0.7.0.

I have this in my Cartfile:

[code]

When I `carthage update` I get this:

[code]

The error is:

[code]

I'm guessing that this is happening because it's pulling in spark-setup-ios 0.6.1, not the 0.7.0 version that has productID support.

The spark-setup-ios 0.7.0 works fine with CocoaPods.

[2017-05-09 01:18] idokleinman commented on #57
You mean it's pulling sdk 0.6.1...
I'll look into that. might be a simple fix
thanks for reporting

[2017-05-09 01:22] idokleinman commented on #57
Well, 0.6.X SDK does have the support for product endpoints (product id)..
Can you try setting your to contain:
`github "spark/spark-sdk-ios" == 0.6.0`

I suspect something with 0.6.1 (I was about to deprecate the SDK to switch to the renamed one particle-sdk-ios but have run into issues with the rename in the setup lib so I'll have to wait on that)

[2017-05-09 11:28] rickkas7 commented on #57
I changed the Cartfile to be:

[code]

and removed Cartfile.resolved and Carthage and the change appeared to be picked up:

[code]

However I'm still getting the same error:

[code]

I am able to build spark-setup-ios 0.6.0 with the Cartfile:

[code]

[2017-05-10 23:36] gitjoost commented on #54
@idokleinman: is modifying setup.storyboard the way to go really? With every library update this would be overwritten.

[2017-05-11 04:59] gitjoost commented on #57
With cart file:
[code]

The build fails all together for me:

[code]

Setting
github "spark/spark-setup-ios" == 0.6.0  builds the project but `.productMode` and `.productId` are unknown to `SparkSetupCustomization.sharedInstance()`

[2017-06-13 18:02] peternoyes commented on #57
We are running into this as well. Is there any way to work around it?

[2017-06-20 14:25] anigo333 commented on #42
Pining this thread as i have the same issue using the same parameters as @kyle-ssg had and we are using swift. So does it mean we need to override the default library behavior as well?

[2017-06-21 02:47] krazineurons opened #58 "Return deviceId when called with initWithSetupOnly and if status is SparkSetupMainControllerResultSuccessNotClaimed and"
My scenario requires customers to just connect the device to Wifi and not claim it to their accounts. So the result received is SparkSetupMainControllerResultSuccessNotClaimed. However it seems the deviceId is not set when the result is SparkSetupMainControllerResultSuccessNotClaimed? if you look at https://github.com/spark/spark-setup-ios/blob/bcc114543d9da007360f2fcc94f556e9428df8eb/Classes/UI/S

[2017-06-26 20:10] idokleinman commented on #54
I do agree that modifying the storyboard itself is a makeshift solution.
I think the best way to go is to add some real customization points - basically creating an addressable UILabel in the viewcontroller requiring the modification, adding it to the Customization class and then submitting PR so it can be incorporated in future releases of the SDK. That's my suggestion.

Another option which is r

[2017-06-26 22:58] gitjoost commented on #54
@idokleinman: Please consider that the on-boarding API becomes part of the entire App and must therefore 'fit' in the App. I.e., it needs to look like one seamless part. That means that _all_ aspects of what is being shown ought to be customizable; font sizes, color, types, positioning, pictures, buttons etc. you name it. To solve this through 'customization points' as you refer to it seems not pr

[2017-06-27 22:32] idokleinman commented on #54
This is escalating to be a very very deep rabbit hole IMO, not sure if all developers need SO much control over every pixel in setup, to the point of changing the flow itself.

Another option, that adheres to what you're suggesting, is Particle providing "setup library" that comes with no mobile setup UI/UX whatsoever, like the Cloud SDK - only a required set of function calls in a certain order,

[2017-06-28 21:20] gitjoost commented on #54
I can't see it to be such a deep rabbit hole but it is a shift from the current concept. Perhaps my proposal is flawed (happened before :-) but I would expect that anyone/company in the business of delivering end-user solutions will want to own the entire experience.  In all products I have been part of this was the case. But hey, who am i.

The "setup-lib without UI/UX" and only particular hooks

[2017-07-03 16:30] rking788 commented on #49
Sorry to bring back such an old issue but I seem to be experiencing the same problem and I tried the keychain fix above and that did not help. I can open a new issue if that makes more sense.

I am attempting to do two-legged authentication as well and the app makes it all the way through the setup process and fails on the Verify device ownership step. At this point the status LED is "breathing cy

[2017-07-05 10:36] KemperVreden commented on #57
+1 Running into this as well ... Workarounds? Fixes?

[2017-07-22 04:51] Rking788 opened #59 "SparkSetupMainController delegate not called when using Done keyboard button"
At the end of the setup process (on the device rename screen), when pressing the Done button to complete the setup, the delegate method didFinishWithResult:device: is not being called. I was stepping through the code and it looks like the delegate is being set to `nil` before hitting this point.

I followed the directions in the README for setting the delegate and everything works fine if I force

[2017-07-27 18:30] LightningToast opened #60 "Upgrading Spark Setup to Particle SDK"
We are currently looking to update our iOS app's internal version of the Spark SDK and the Spark Setup. Although the Spark SDK has been deprecated in favor of the Particle SDK beta, Spark Setup still lists it as a dependency in Cocoapods. Should we continue to use the Spark SDK, and if so, how long can we expect for it to be supported? Alternatively, when should we expect the Particle SDK to be st

[2017-08-01 00:40] idokleinman commented on #60
Good question, and sorry for the confusion. We were on our way to completely deprecate both `Spark-SDK` and `Spark-setup` (device setup lib).
For the user all it basically means is a Find & Replace of all things Spark->Particle and changing the required `pod` names in the `Podspec` file (or `Cartfile` if you chose the Carthage  path).

We ran into some trouble republishing the device setup library

[2017-08-01 00:41] idokleinman commented on #59
Can you verify you are using the latest version of the library? I believe it was a bug previously fixed.

[2017-08-03 23:59] idokleinman commented on #57
Trying to tackle this right now, TBH not sure what's wrong there as the dependency of SDK 0.6.1 DOES in fact contain the aforementioned product-mode functions... no real idea why it does not compile.
if you guys have any ideas do let me know

[2017-08-16 21:44] davidgs opened #61 "Fails to build"
Attempting to build on Mac OS X 10.12.6 Xcode 8.3.3

CompileC /Users/davidgs/Library/Caches/org.carthage.CarthageKit/DerivedData/spark-setup-ios/0.7.1/Build/Intermediates/ParticleDeviceSetupLibrary.build/Release-iphoneos/ParticleDeviceSetupLibrary.build/Objects-normal/armv7/SparkUserForgotPasswordViewController.o /Users/davidgs/github.com/Influx\ Data\ Setup/Carthage/Checkouts/spark-setup-ios/Clas

[2017-08-16 21:46] #61 closed

[2017-08-16 21:51] davidgs commented on #57
Having the same issue with the build.

`[[SparkCloud sharedInstance] requestPasswordResetForCustomer:self.emailTextField.text productId:[SparkSetupCustomization sharedInstance].productId completion:passwordResetCallback];`

Cartfile:
`github "AFNetworking/AFNetworking" ~> 3.0.0
github "spark/spark-sdk-ios" == 0.6.0
github "spark/spark-setup-ios" ~> 0.7.0
github "AgileBits/onepassword-extension" "a

[2020-10-20 16:08] #53 closed

[2022-03-29 07:45] #46 closed